@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
a {
  color: rgb(10, 10, 10);
}
a:hover {
  color: rgb(49, 49, 251);
}

.initials {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 100px;
  padding-left: 1rem;
  color: rgb(21, 19, 19);
}

.photography {
  color: black;
  letter-spacing: 0px;
  padding-left: 1rem;
  font-size: 15px;
}

.contact {
  position: relative;
  bottom: 0;
  right: 0;
  font-family: "Times New Roman", Times, serif;
  color: rgb(31, 29, 29);
  font-weight: bold;
  background-color: white;
  font-size: 1.2 rem;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.contact p {
  letter-spacing: 2px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container img {
  width: 100%;
  height: auto;
  max-width: 300px;
  clip-path: circle(35%);
  transition: clip-path 1s;
}

.container img:hover {
  clip-path: circle(90%);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.contact {
  animation: move 3s;
  -webkit-animation: move 3s;
}

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, em,
img, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu,
nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input, select {
  vertical-align: middle;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body, select, input, textarea {
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
}

select {
  margin: 8px 0 8px 0;
}

h1, h2, h3, h4, h5, h6, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
  outline: none;
}

small {
  font-weight: bold;
  letter-spacing: 1px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  overflow-x: auto;
  background-color: rgb(255, 255, 255);
}

hr {
  margin-top: 80px;
  height: 2px !important;
  border: none;
  color: black !important;
}

a h1 {
  font-size: 40px;
  margin-top: 1px;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  color: rgb(31, 29, 29);
  font-weight: bold;
  font-size: 28px;
}

h3 {
  color: rgb(219, 94, 94);
  letter-spacing: 0px;
}

h4 {
  letter-spacing: 0.2px;
}

h5 {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: rgb(130, 121, 121);
}

.small {
  font-size: 14px;
}

.details p {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  color: rgb(31, 29, 29);
  font-weight: bold;
  font-size: 28px;
}

.details .hideable-content p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: rgb(105, 104, 104);
  font-size: 18px;
}

.photography {
  color: rgb(219, 94, 94);
}

.studio {
  background-color: rgb(0, 0, 0);
}

.studio h3 {
  color: rgb(219, 94, 94);
}

.studio h1 {
  color: rgb(219, 94, 94);
}

.studio h4 {
  color: white;
}

.headshots {
  background-color: rgb(249, 245, 245);
}

.headshots h1 {
  color: black;
}

.headshots h4 {
  color: black;
}

.headshots h3 {
  color: rgb(219, 94, 94);
}

.products {
  background-color: black;
}

.products h1 {
  color: rgb(201, 232, 132);
}

.products h3 {
  color: rgb(201, 232, 132);
}

.products h4 {
  color: white;
}

.info {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: rgb(31, 29, 29);
  font-weight: bold;
  font-size: 1.2 rem;
  padding: 10px;
  border-bottom: 1px solid black;
}

.home-links a {
  font-size: 25px;
  padding: 1rem;
}

/*# sourceMappingURL=photos.css.map */
