@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

a{
    color: rgb(122, 122, 221); 

    &:hover{
        color: rgb(122, 122, 221); 
    }
}

img{
    height: auto;
    width: 100%;
    max-width: 150px; 
}


