@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

a{
    color: rgb(75, 75, 234);
    transition: transform 0.2s ease;

    &:hover{ 
        text-decoration: underline;
    }
}

.link{
    color:rgb(49, 49, 251);
    transition: transform 0.2s ease;

    &:hover{ 
        transform: scale(1.05);
        text-decoration: none !important; 
    }
}

.link a{
    color:rgb(49, 49, 251);
    transition: transform 0.2s ease;

    &:hover{ 
        transform: scale(1.05);
        text-decoration: none !important; 
    }
}


.initials{
    margin-top: 8px; 
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-left: 1rem; 
    color: rgb(21, 19, 19);
    letter-spacing: 1px; 
    margin-bottom: 16px;
    border-bottom: 1.5px solid black;  
}

.initials h4{
    color: rgb(31, 31, 31);
}

.and{
    font-size: 20px;
    margin-right: 8px;
    font-family:Arial, Helvetica, sans-serif;
}

.initials p{
    font-weight: regular;
    font-size: 20px;
}


.photography{
    color: black; 
    letter-spacing: 0px;
    padding-left: 1rem;
    font-size: 15px;   
}

.contact{
    position: relative;
    bottom: 0;
    right: 0;
    font-family:'Times New Roman', Times, serif;
    color: rgb(31, 29, 29);
    font-weight: bold;
    background-color: white;
    font-size: 1.2 rem;  
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;   
}

.contact p{
    letter-spacing: 2px; 
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}







