footer{
    width:100%;
    height:70px;  
    text-align: center;
 }

.contact {
    animation: move 3s;
    -webkit-animation: move 3s;
  }
  
  @keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
              
  @-webkit-keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.about-2{
  position: fixed;
  top: 20;
  right: 0;
  z-index: 1000000;
  padding-right: 10px; 
  padding-top: 10px;
}

.about{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000000;
  padding-right: 10px; 
  padding-top: 10px;
}

footer .row{
  border-top: 1px solid black;
  background-color: rgb(255, 250, 111) !important;
  text-align: left;
}

footer .initials{
  border: none;  
}

footer h2{
  font-weight: bold;
  letter-spacing: -.2px;
  text-transform: uppercase;
  color: $red;  
}
