.initials{
  margin-top: 8px; 
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding-left: 1rem; 
  color: rgb(21, 19, 19);
  letter-spacing: 1px; 
  margin-bottom: 16px;
  border-bottom: 1.5px solid black;  
}

.initials h4{
  color: rgb(31, 31, 31);
}

.and{
  font-size: 20px;
  margin-right: 8px;
  font-family:Arial, Helvetica, sans-serif;
}

.initials p{
  font-weight: regular;
  font-size: 20px;
}


.photography{
  color: black; 
  letter-spacing: 0px;
  padding-left: 1rem;
  font-size: 15px;   
}

@media only screen and (max-width: 600px) {
  .about-2{
      font-size: 15px;
      position: fixed;
      top: 20px;
      right: 0;
      padding-right: 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  .about{
      font-size: 15px;
      position: fixed;
      top: 5px;
      right: 0px;
      padding-right: 15px !important;  
  }
}
  


footer{
    width:100%;
    height:70px;  
    text-align: center;
 }

.contact {
    animation: move 3s;
    -webkit-animation: move 3s;
  }
  
  @keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
              
  @-webkit-keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.about-2{
  position: fixed;
  top: 20;
  right: 0;
  z-index: 1000000;
  padding-right: 10px; 
  padding-top: 5px;
}

.about{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000000;
  padding-right: 10px; 
  padding-top: 5px;
}

footer .row{
  border-top: 1px solid black;
  background-color: rgb(255, 250, 111) !important;
  text-align: left;
}

footer .initials{
  border: none;  
}

footer h2{
  font-weight: bold;
  letter-spacing: -.2px;
  text-transform: uppercase;
  color: $red;  
}

footer .footer-contact{
  margin-top: 20px; 
}

footer .footer-socials{
  margin-top: 20px; 
}
