.details p{
    display: flex; 
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(31, 29, 29);
    font-weight: bold;
    font-size: 28px;  
}

.details .hideable-content p{
    display: flex; 
    justify-content: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(105, 104, 104);
    font-size: 18px; 
}







.split-container {
    display: flex;
    height: 100vh;
  }

  /* Style for each side */
  .side {
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  /* Style for the image */
  .split-image {
    width: 100%;
    height: 100%;
    max-width: 600px; 
    object-fit: cover; 
    transition: transform 0.5s;
  }

  /* Style for the overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 254, 254, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Style for the text */
  .overlay-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.5s;
  }

  /* Hover effect */
  .side:hover .overlay {
    opacity: 1;
  }

  .side:hover .image {
    transform: scale(1.1);
  }