.initials{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 120px;
    padding-left: 1rem;   
}

.photography{
    color: black; 
    letter-spacing: 0px;
    padding-left: 1rem;
    font-size: 15px;   
}

.contact{
    position: relative;
    bottom: 0;
    right: 0;
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    background-color: white;
    font-size: 1.2 rem;  
    padding: 10px;
    border: 1px solid black;   
}

.contact p{
    letter-spacing: 2px; 
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
  }