.studio{
    background-color: rgb(0, 0, 0); 
}

.studio h3{
    color: $red; 
}

.studio h1{
    color: $red; 
}

.studio h4{
    color: white;  
}

.headshots{
    background-color: rgb(249, 245, 245); 
}

.headshots h1{
    color: black; 
}

.headshots h4{
    color: black; 
}

.headshots h3{
    color: $purple; 
}

.products{
    background-color: black;     
}

.products h1{
    color: $green;           
}

.products h3{
    color: $green;     
}

.products h4{
    color: white;      
}