.photography{
    color: $red; 
}

.studio{
    background-color: rgb(0, 0, 0); 
}

.studio h3{
    color: $red; 
}

.studio h1{
    color: $red; 
}

.studio h4{
    color: white;  
}

.headshots{
    background-color: rgb(249, 245, 245); 
}

.headshots h1{
    color: black; 
}

.headshots h4{
    color: black; 
}

.products{
    background-color: black;     
}

.products h1{
    color: $green;           
}

.products h3{
    color: $green;     
}

.products h4{
    color: white;      
}

.info{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(31, 29, 29);
    font-weight: bold;
    font-size: 1.2 rem;  
    padding: 10px;
    border-bottom: 1px solid black;   
}




